#menuText {
	background-color: #9D784A;
	text-align: center;
	padding: 70px 10px 70px 10px;
	margin: 0px 90px 0px 90px;
}

#menuData {
	margin: 30px 0px 10px 0px;
	text-decoration: underline;

}
#navigation {
	margin: 0px 90px 0px 90px;
}

nav {
	background-color: #333;
/*Overflow:  hidden nghĩa là phần padding dư của Nav sẽ được dầu đi*/
	overflow: hidden;
}
nav a {
	color: black;
	padding: 14px 20px;
/*Block:  hiển thị theo hàng dọc*/
	display: block;
	text-align: center;
	text-decoration: None;

}
nav a:hover {
	background-color: #DDD;
	color: black;
}

.menu_left {
/*Khi float sang trái thì display:  block bị huỷ và lúc đó phần padding của chữ sẽ phồng theo padding của nav*/
	float: left;
}

#flex_left {
	flex: 20%;
	padding: 10px;
}

#flex_left a {
	color: darkblue;
}

#flex_right {
	flex: 80%;
	padding: 10px;
	margin: 0px 0px 0px 50px;
}
#flex_container {
	display: flex;
	flex-wrap: nowrap;
	margin: 0px 90px 0px 90px;
}

@media(max-width: 750px) {
	#flex_left {
		flex: 100%;
	}
	#flex_right {
		flex: 100%;
	}
	#flex_container {
		flex-wrap: wrap;
		margin: 0px 90px 0px 90px;
	}
}
.post-title {
	margin: 30px 0px 10px 0px;
}

.post-title a {
	text-decoration: none;
	color: darkblue;
	font-weight: bold;
	font-size: 150%;
}
