#menuText {
	background-color: #9D784A;
	text-align: center;
	padding: 70px 10px 70px 10px;
	margin: 0px 90px 0px 90px;
}

#menuData {
	margin: 30px 0px 10px 0px;
	text-decoration: underline;

}

#navigation {
	margin: 0px 90px 0px 90px;
}

nav {
	background-color: #333;
/*Overflow:  hidden nghĩa là phần padding dư của Nav sẽ được dầu đi*/
	overflow: hidden;
}
nav a {
	color: black;
	padding: 14px 20px;
/*Block:  hiển thị theo hàng dọc*/
	display: block;
	text-align: center;
	text-decoration: None;
}
nav a:hover {
	background-color: #DDD;
	color: sandybrown;
}

.menu_left {
/*Khi float sang trái thì display:  block bị huỷ và lúc đó phần padding của chữ sẽ phồng theo padding của nav*/
	float: left;
	font-size: 120%;
	color: beige;
}

#flex_container {
	margin: 10px 90px 0px 90px;
}
#flex_container a {
	font-weight: bold;
	font-size: 150%;
}

#container {
	position: relative;
	width: 750px;
	height: 450px;
	border: 6px solid #000000;
	background-color: #ffffcc;
	overflow: hidden;
	margin: 20px 0px;
}

#reception1 {
	position: absolute;
	left: 25px;
	top: 40px;
	font-size: 150%;
}

#reception2 {
	position: absolute;
	left: 320px;
	top: 40px;
	font-size: 150%;
}

#reception3 {
	position: absolute;
	left: 590px;
	top: 40px;
	font-size: 150%;
}

#next {
	position: absolute;
	left: 220px;
	top: 200px;
	font-size: 120%;
}

#type {
	position: absolute;
	left: 230px;
	top: 347px;
	font-size: 120%;
}

#name_input {
	position: absolute;
	left: 300px;
	top: 315px;
}

#fill_name {
	position: absolute;
	left: 230px;
	top: 312px;
	font-size: 120%;
}

#select {
	position: absolute;
	left: 300px;
	top: 350px;
}

#register {
	position: absolute;
	left: 335px;
	top: 385px;
}

#info {
	position: absolute;
	left: 230px;
	top: 420px;
}
